
.Messaging{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6hJAEOSE_mVfMaWrQnPIpROsVBfQBZ0ZJtQ&usqp=CAU");
  background-size: cover;
}
.messages-display{
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.55);
}
.message-container {
  height: 85vh;
  width: 85vw;
  background-color: #38B6FF;
  display: grid;
  grid-template-columns: 25% 75%;
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    grid-template-columns: 35% 65%;
  }
}
